.Contact_form {
  &-title {
    @media (max-width: 575px) {
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 16px;
    }
  }
  &-phoneValidate {
    display: block;
    font-size: 11px;
  }
}
