@import "../../styles/global.scss";
.rsc-content {
  background-color: #e3e3e3;
  height: 100vh !important;
  padding-bottom: 70px !important;
  background: url("./images/purple_ocean.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}
.gJZAEs {
  height: 100vh !important;
}
.rsc-os-options > li > button {
  background-color: #4267b2;
  color: #fff;
  font-weight: bold;
}
.rsc-ts-user > .sc-gKAaRy {
  background-color: #3fc726 !important;
  color: #fff !important;
  font-weight: bold;
}
.kol_name {
  color: rgb(134, 144, 254);
}
.contact_form {
  padding: 10px 0px;
  display: flex;
  justify-content: center;
  z-index: 100;
  background-color: #fff;
  position: absolute;
  bottom: 0px;
  width: 100%;
}
//100vw
.rsc-ts {
  & > div:nth-child(2) {
    max-width: 100%;
    flex: 1;
  }
}
.rsc-ts-bubble {
  margin-right: 6px !important;
  margin-bottom: 20px !important;
  font-family: Roboto, sans-serifs !important;
}
.rsc > div {
  height: 100vh !important;
}
