@import "../../styles/global.scss";
.BuyNowButton {
  font-family: Roboto, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  line-height: 1.6;
  background-color: rgb(255, 16, 1);
  width: 275.55px;
  height: 52.95px;
  text-decoration: none;
  border-radius: 175px 35px;
  animation: zoom-in-out 1.5s infinite;
  &:hover {
    text-decoration: none;
    color: #fff;
  }
}
@keyframes zoom-in-out {
  from {
    transform: scale(0.8, 0.8);
  }
  to {
    transform: scale(1.2, 1.2);
  }
}
