.Gender {
  &__male {
    margin-right: 4px;
  }
  .hide {
    display: none;
  }
  & > button {
    font-size: 20px;
    color: #fff;
    background: #722ed1;
    border: none;
    padding: 4px 15px;
    border-radius: 2px;
  }
}
