.InputDateTime {
  &__day,
  &__month {
    margin-right: 8px;
  }
  &__day:disabled,
  &__month:disabled,
  &__year:disabled {
    border: 1px solid #000;
    color: #000;
    opacity: 1;
  }
  & > select {
    font-size: 20px;
    padding: 2px 4px;
  }
}
